.header{
    
    background-color: #ffffff;
}
.header__logo{
    width: auto;
    max-width: 100%;
    max-height: 2rem;
}
.header__logo-container{
    text-align: end;
}
.header__title{
    text-transform: capitalize;
    color:#ffffff;
    font-weight: 400;
    margin: 1rem;
}

.header__title-containter{
    padding-left: 2rem;
    background: #326294;
}