@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
    box-sizing: border-box;
}
html{
    height: 100%;
}

body {
    background-color: #eee;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}


h1,h2,h3{
    color:#326294;
    font-weight: 400; 
}

.text-center{
    text-align: center;
}   

.bold{
   font-weight: 700; 
}

.displayBlock{
    display:block
}

.displayInlineBlock{
    display:inline-block
}